In [0]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [0]:
w_df=pd.read_csv("winequality-red.csv",delimiter=';')

In [554]:
w_df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [555]:
w_df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [0]:
red_x_train,red_x_test,red_y_train,red_y_test = train_test_split(w_df.drop(columns="quality"),w_df['quality'])

Should we use regressor or classifier(Decision Tree)

We will use clasifier here.

In [557]:
tree = DecisionTreeClassifier(criterion='entropy',max_depth=4, random_state=1)
tree.fit(red_x_train,red_y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=1, splitter='best')

In [0]:
y_pred=tree.predict(red_x_test)

In [559]:
print("Accuracy:",metrics.accuracy_score(red_y_test, y_pred))

Accuracy: 0.595

In [560]:
tree = DecisionTreeClassifier(criterion="entropy",max_depth=10, random_state=0)
tree.fit(red_x_train,red_y_train)
y_pred=tree.predict(red_x_test)
print("Accuracy:",metrics.accuracy_score(red_y_test, y_pred))

Accuracy: 0.5875

Try several ways for max_depth. What is the best.

In [561]:
tree = DecisionTreeClassifier(max_depth=10,random_state=0)
tree.fit(red_x_train,red_y_train)
y_pred=tree.predict(red_x_test)
print("Accuracy:",metrics.accuracy_score(red_y_test, y_pred))

Accuracy: 0.58

What is accuracy.

In [562]:
utfall = (red_rf_y_results['prediction'] == red_rf_y_results['quality']).value_counts()
print("The decision tree predicts the test data in", (utfall[1]/(utfall[0]+utfall[1]))*100 , "% of the cases.")

The decision tree predicts the test data in 65.25 % of the cases.

In [563]:
red_rf_y_results=pd.DataFrame(red_y_test)
red_rf_y_results['prediction'] = tree.predict(red_x_test)
red_rf_y_results['error'] = red_rf_y_results['prediction'] - red_rf_y_results['quality']
red_rf_y_results.tail()

      quality  prediction  error
1090        8           6     -2
130         5           5      0
313         5           5      0
1583        5           5      0
787         6           6      0

In [564]:
print("Accuracy:",metrics.accuracy_score(red_rf_y_results['prediction'], red_rf_y_results['quality']))

Accuracy: 0.58

Random Forest (Tasks same as above). What is the accuracy.

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

In [566]:
w_rf= RandomForestClassifier(n_estimators=50)
w_rf.fit(red_x_train,red_y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [567]:
red_rf_y_results=pd.DataFrame(red_y_test)
red_rf_y_results['prediction'] = w_rf.predict(red_x_test)
red_rf_y_results['error'] = red_rf_y_results['prediction'] - red_rf_y_results['quality']
red_rf_y_results.tail()

      quality  prediction  error
1090        8           6     -2
130         5           5      0
313         5           5      0
1583        5           5      0
787         6           6      0

In [568]:
w_rf= RandomForestClassifier(n_estimators=50)
w_rf.fit(red_x_train,red_y_train)
red_rf_y_results=pd.DataFrame(red_y_test)
red_rf_y_results['prediction'] = w_rf.predict(red_x_test)
red_rf_y_results['error'] = red_rf_y_results['prediction'] - red_rf_y_results['quality']
red_rf_y_results.tail()

      quality  prediction  error
1090        8           7     -1
130         5           5      0
313         5           5      0
1583        5           5      0
787         6           6      0

In [569]:
print("Accuracy:",metrics.accuracy_score(red_rf_y_results['prediction'], red_rf_y_results['quality']))

Accuracy: 0.695

In [570]:
w_rf= RandomForestClassifier(n_estimators=200,random_state=0)
w_rf.fit(red_x_train,red_y_train)
red_rf_y_results=pd.DataFrame(red_y_test)
red_rf_y_results['prediction'] = w_rf.predict(red_x_test)
red_rf_y_results['error'] = red_rf_y_results['prediction'] - red_rf_y_results['quality']
red_rf_y_results.tail()
print("Accuracy:",metrics.accuracy_score(red_rf_y_results['prediction'], red_rf_y_results['quality']))

Accuracy: 0.6875

In [571]:
w_rf= RandomForestClassifier(n_estimators=200,random_state=2)
w_rf.fit(red_x_train,red_y_train)
red_rf_y_results=pd.DataFrame(red_y_test)
red_rf_y_results['prediction'] = w_rf.predict(red_x_test)
red_rf_y_results['error'] = red_rf_y_results['prediction'] - red_rf_y_results['quality']
red_rf_y_results.tail()
print("Accuracy:",metrics.accuracy_score(red_rf_y_results['prediction'], red_rf_y_results['quality']))

Accuracy: 0.685

In [572]:
utfall = (red_rf_y_results['prediction'] == red_rf_y_results['quality']).value_counts()
print("The random forest predicts the test data in", (utfall[1]/(utfall[0]+utfall[1]))*100 , "% of the cases.")

The random forest predicts the test data in 68.5 % of the cases.